pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/


resources/public/cljs/

.idea
closure
pom.xml
*.iml
.repl*
*.swp
*.zip
**/public/**
**/.shadow-cljs/**
clojurescript_release_*
closure-release-*
.lein-repl-history
.nrepl-port
.nrepl-repl-history
**/builds/**
**/node_modules/**
nashorn_code_cache
*.aot.js
*.aot.js.map
*.cache.aot.edn
*.cache.aot.json
.node_repl
**/.cpcache/**