{:paths ["src"]
 :deps  {re-frame                   {:mvn/version "1.1.1"}
         binaryage/devtools         {:mvn/version "1.0.2"}
         day8.re-frame/re-frame-10x {:mvn/version "0.7.0"}
         day8.re-frame/tracing      {:mvn/version "0.6.0"}

         metosin/reitit             {:mvn/version "0.5.5"}
         re-pressed                 {:mvn/version "0.3.1"}
         arco/arco                  {:mvn/version "0.2.8"}
         cljs-ajax                  {:mvn/version "0.8.1"}
         fork                       {:mvn/version "2.2.2"}
         vlad                       {:mvn/version "3.3.2"}
         parse-names                {:mvn/version "0.1.1-SNAPSHOT"}
         tick                       {:mvn/version "0.4.26-alpha"}
         metosin/malli              {:mvn/version "0.0.1-SNAPSHOT"}
         cider/cider-nrepl          {:mvn/version "0.25.3"}
         refactor-nrepl             {:mvn/version "2.5.0"}}
 :aliases
 {
  :dev      {:extra-deps {thheller/shadow-cljs {:mvn/version "2.10.17"}}}
  ;; testing and debugging tools:
  :outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
             :main-opts  ["-m" "depot.outdated.main"]}}}
